*{
    margin: 0;
    padding: 0;
    font-size: large;
}
body{
    background: white;
    display: flex;
    flex-direction: column;
}
/*Navbar style*/
nav{
    background: lightpink;
    flex: 0.5;
}
ul{
    display: flex;
    list-style-type: none;
}
ul li{
    padding: 20px;
}
ul,li,a{
    text-decoration: none;
    color: white;
}
/*Banner*/
header{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('./image/8be6c2889d3fb77994eac9106e873eee.jpg');
    background-size: cover;
}
header h1{
    color: white;
    font-size: 90px;
}
header p{
    color: palevioletred;
    font-size: 20px;
}
header button{
    background: powderblue;
    padding: 15px;
    border: 1px solid white;
    border-radius:5px;
    margin-top: 10px;
    cursor: pointer;
}
section{
    display: flex;
    flex: 5;
}
aside{
    background: plum;
    flex: 0.95;

}
main{
    background: lightcoral;
    flex: 5;

}
footer{
    background: lightseagreen;
    display: flex;
    flex: 1;
}